
body {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  color: #343434;
}

h1 {
  text-align: center;
  margin: auto;
}

.container {
  width: 30vw;
  padding: 20px;
  margin: auto;
  background-color: #C0D0B7;
  border-radius: 5px;
}

.input {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  height: 2em;
  align-items: center;
  margin: 2px;
}

.item > button {
  height: 20px;
  margin-left: auto;
  border: none;
  background-color: #C0D0B7;
}

.item > button:hover {
  color: #E2E9DE;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
}

#userinput {
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  border: 1px solid #343434;
  background-color: #c0d0b7;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

#userinput:focus, #userinput:active {
  background-color: #E2E9DE;
  border: 1px solid #343434;
  outline: none!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #343434;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #343434;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #343434;
}
